
  <h3 class="text-center"> Editar</h3>
    <div class="container">
      <div style="width: 80%">
        <%= simple_form_for(@cart) do |t| %>
          <%= t.input :date, as: :string, input_html: { id: 'fecha' }, label: 'Fecha de evento'%>
          <h3>Cliente</h3>
          <select id="select2" name="state">
            <%= Cliente.all.each do |cliente| %>
            <option value=<%= "#{cliente.id}" %>><%= cliente.name %> -- <%=cliente.razon_social%></option>
            <% end %>
          </select>
          <%= t.input :cliente_id, input_html: { id: 'cliente_id' }, as: :hidden%>
          <%= t.input :razon_social, input_html: { id: 'razon_social'}%>
          <%= t.input :cliente, input_html: { id: 'cliente' }%>
          <%= t.input :ruc, input_html: { id: 'ruc' }%>
          <%= t.input :email, input_html: { id: 'email' }%>
          <%= t.input :tel, input_html: { id: 'tel' } %>
          <%= t.input :sena, label: "Seña"%>
          <%= t.input :cliente2, label: "A quien llamar en caso de no contestar", input_html: { id: 'cliente2' }%>
          <%= t.input :tel2, label: "Tel", input_html: { id: 'tel2' }%>
          <select id="select3">
            <option value="">Ubicacion 1</option>
          </select>
          <%= t.input :lugar, label: "Link de google", input_html: { id: 'link' }%>
          <%= t.input :ciudad, input_html: { id: 'ciudad' }%>
          <%= t.input :zona, input_html: { id: 'zona' }%>
          <%= t.input :obs, input_html: { id: 'obs' }%>
          <%= t.input :latitud, input_html: { id: 'latitud' }%>
          <%= t.input :longitud, input_html: { id: 'longitud' }%>
          <div class="text-center">
          <%= t.submit "Guardar" %>
        <% end %>
        </div>
      </div>
    </div>
    <%= link_to 'Atras', :back, class: "btn btn-outline-secondary" %>
