
<div class="tab-pane fade show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg">
      <div style="overflow-x:auto;">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Fecha</th>
              <th scope="col">Cliente</th>
              <th scope="col">Facturar A</th>
              <th scope="col">Productos</th>
              <th scope="col">Consignacion</th>
              <th scope="col">Telefono</th>
              <th scope="col">Mapa</th>
            </tr>
          </thead>
          <tbody>
            <%@carts.where(date: nil).each do |carts|%>
              <tr>
                <td><%= carts.id %></td>
                <th scope="row" class="lista">
                    <%= link_to "Editar", mostrar_path(carts) %>
                  </th>
                  <td><%= carts.cliente %></td>
                  <td><%= carts.razon_social%></td>
                  <td>
                    <ul>
                    <%carts.cart_items.where(status: "added").each do |items|%>
                      <li class="lista"><%= items.quantity %> <%= items.item.description%> </li>
                    <% end %>
                    </ul>
                  </td>
                  <td>
                    <ul>
                    <%carts.cart_items.where(status: "consignacion").each do |items|%>
                      <li class="lista"> <%= items.quantity %> x <%= items.item.description %></li>
                    <% end %>
                    </ul>
                  </td>
                  <td><%= carts.tel %></td>
              <% end %>
              </tr>
            <%@carts.each do |carts|%>
              <% if carts.date != nil %>
                <tr class=<%="#{carts.status}"%>>
                <td><%= carts.id %></td>
                  <th scope="row" class="lista">
                      <%= link_to "#{carts.date.strftime("%d/%m/%y")}", mostrar_path(carts) %>
                    </th>
                    <td><%= carts.cliente %></td>
                    <td><%= carts.razon_social%></td>
                    <td>
                      <ul>
                      <%carts.cart_items.where(status: "added").each do |items|%>
                        <li class="lista"><%= items.quantity %> <%= items.item.description%> </li>
                      <% end %>
                      </ul>
                    </td>
                    <td>
                      <ul>
                      <%carts.cart_items.where(status: "consignacion").each do |items|%>
                        <li class="lista"> <%= items.quantity %> x <%= items.item.description %></li>
                      <% end %>
                      </ul>
                    </td>
                    <td><%= carts.tel %></td>
                    <td>
                      <div class="text-center">
                            <% if carts.show == "si" %>
                              <%= link_to carts.show, cart_cart_mapa_no_path(carts), class: (" btn btn-success")%>
                            <% else %>
                              <%= link_to carts.show, cart_cart_mapa_si_path(carts), class: (" btn btn-danger")%>
                            <% end %>
                      </div>
                    </td>
                <% end %>
                </tr>
              <% end %>
          </tbody>
        </table>
</div>
</div>
</div>


