<div class="detalle">
  <div class="pedido text-center">
    <h2>Pedido</h2>

      <%@cart.cart_items.where(status: "added").each do |items|%>
      <div class="encabezado">
          <h6><%= items.quantity%>  x </h6>
          <h6><%= items.item.description %> </h6>
          <h6><%= items.price%> </h6>
        </div>
    <% end %>
  </div>
  <div class="pedido text-center">
    <h2>Consignacion</h2>

      <%@cart.cart_items.where(status: "consignacion").each do |items|%>
        <div class="encabezado">
          <h6><%= items.quantity%>  x </h6>
          <h6><%= items.item.description %> </h6>
          <h6><%= items.price%> </h6>
        </div>
      <% end %>
  </div>
  <div class="pedido">
     Serivicio solicitado por : <%= @cart.cliente %> <br><br>
    Fecha del servicio: <%= @cart.date %> <br> <br>
    Razon social: <%= @cart.razon_social%> <br> <br>
    Ruc: <%= @cart.ruc%> <br><br>
    Tel: <%= @cart.tel%> <br> <br>
    <div class="osb">Obs: <%= @cart.obs%> <br> <br></div>
    <div class="d-flex justify-content-around">
      <%= link_to @cart.tel, "tel:#{@cart.tel}", class: ("btn btn-success ") %>
      <%= link_to Ubicacion, "#{@cart.lugar}", target: :_blank, class: ("btn btn-primary ") %>
    </div>
    <div class="text-center m-5">

    </div>
    <div class="text-center">
      <%=link_to "Editar", cart_path(@cart), class: ("btn btn-primary")%>
    </div>
  </div>
</div>
