<% if current_user.rol == "admin" || current_user.rol == "vendedor"%>
<div class="detalle">
  <% if @cart.status == "confirmado" %>
    <div class="pedido text-center btn-primary">
      CONFIRMADO
    </div>
  <% end %>
  <% if @cart.status == "entregado" %>
    <div class="pedido text-center btn-success">
      ENTREGADO
    </div>
  <% end %>
  <% if @cart.status == "solo-barril" %>
    <div class="pedido text-center">
      SOLO BARRIL
    </div>
  <% end %>
  <% if @cart.status == "retirado" %>
    <div class="pedido text-center">
      RETIRADO
    </div>
  <% end %>
  <% if @cart.status == "maquina-fija"%>
    <div class="pedido text-center BT">
      MAQUINA FIJA
    </div>
  <% end %>
  <div class="pedido text-center">
    <h2>Pedido</h2>
      <%@cart.cart_items.where(status: "added").each do |items|%>
      <div class="encabezado">
          <h6><%= items.quantity%>  x </h6>
          <h6><%= items.item.description %> </h6>
          <h6><%= number_with_delimiter(items.price, :delimiter => '.') %></h6>
        </div>
    <% end %>
  </div>
  <div class="pedido text-center">
    <h2>Consignacion</h2>

      <%@cart.cart_items.where(status: "consignacion").each do |items|%>
        <div class="encabezado">
          <h6><%= items.quantity%>  x </h6>
          <h6><%= items.item.description %> </h6>
          <h6><%= number_with_delimiter(items.price, :delimiter => '.') %></h6>
        </div>
      <% end %>
  </div>
  <div class="pedido">
     Serivicio solicitado por : <%= @cart.cliente %> <br><br>
    Fecha del servicio: <%= @cart.date %> <br> <br>
    Razon social: <%= @cart.razon_social%> <br> <br>
    Ruc: <%= @cart.ruc%> <br><br>
    Tel: <%= @cart.tel%> <br> <br>
    <div class="osb">Obs: <%= @cart.obs%> <br> <br></div>
    <div class="d-flex justify-content-around">
      <%= link_to @cart.tel, "tel:#{@cart.tel}", class: ("btn btn-success ") %>
      <%= link_to Ubicacion, "#{@cart.lugar}", target: :_blank, class: ("btn btn-primary ") %>
    </div>

    <div id="cambiarEstado" class="m-5 none">
      <%= render 'carts/cambiar'%>
    </div>
    <div class="text-center m-3">
        <a class="cambiar btn btn-danger">Cambiar estado</a>
    </div>
    <div id="FactuNueva" class="none">
        <%= render 'facturas/new'%>
    </div>
    <div class="text-center">
      <% if @cart.status != "facturado" %>
        <a class="factura btn btn-danger">Facturar</a>
      <% end %>
      <%=link_to "Editar", cart_path(@cart), class: ("btn btn-primary")%>
    </div>
  </div>
</div>
<% end %>
