<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title><%= @cart.cliente %></title>
</head>
<body>

 <div class="detalle">
  <div class="pedido">
    <div class="text-center">
      <h3><strong>Grupo Rudamega SA</strong></h3>
    </div>
    <h5>Ruc:  80103542-2</h5>
    <h5>Direccion: Ingavi 232, San Lorenzo</h5>
    <h5><strong>Tel:</strong>  0994 80 80 80</h5>
    <div class="text-center">
      <h5><strong>TIMBRADO</strong></h5>
    </div>
    <h5>Numero:  80103542-2</h5>
    <h5>Inicio Vigencia: 07/05/2020</h5>
    <h5>Fin Vigencia: 31/05/2021</h5>
    <div class="pedido">
      Razon Social: <%= @cart.razon_social.upcase %>
      Documento: <%= @cart.ruc%>
    </div>
    <div class="pedido text-center">
      <div class="flexrow">
       <h6>Cant-----Descripcion-----Precio-----Total</h6>
      </div>

        <%@cart.cart_items.where(status: "added").each do |items|%>
        <h6><%= items.quantity %> x <%= items.item.description %> <%= items.price%></h6>
      <% end %>
    </div>

    <div class="pedido text-center">
      <h2>Consignacion</h2>

        <%@cart.cart_items.where(status: "consignacion").each do |items|%>
          <h6><%= items.quantity %> x <%= items.item.description %></h6>
        <% end %>
    </div>
    <div class="pedido">
     Serivicio solicitado por : <%= @cart.cliente %> <br><br>
    Fecha del servicio: <%= @cart.date %> <br> <br>
    Razon social: <%= @cart.razon_social%> <br> <br>
    Ruc: <%= @cart.ruc%> <br><br>
    Tel: <%= @cart.tel%> <br> <br>
    <div class="osb">Obs: <%= @cart.obs%> <br> <br></div>
    <div class="text-center">
      <%=link_to "Editar", cart_path(@cart), class: ("btn btn-primary")%>
      <%= link_to "GOOGLE", "http://#{@cart.lugar}", target: :_blank %>
    </div>
    </div>
  </div>
</div>
</body>
<body>
