<div class="container">
  <table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Stock</th>
      <th scope="col">Nombre</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <%= simple_form_for [@cart, @cart_item] do |t| %>
        <%= t.input :item_id, input_html: {value: item.id}, as: :hidden%>
        <%= t.input :price, input_html: {value: item.sales_prices}, as: :hidden%>
        <th scope="row"><%=item.stock%></th>
        <td><%=item.name%></td>
        <td><%= t.submit "Agregar", class: "btn btn-outline-success", remote: true%></td>
    </tr>
      <% end %>
    </div>
  </div>
<% end %>
